<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parciales/head.html') %>
</head>
<body>
    <a href="/login">Login</a>
    <a href="/registro">Registro</a>
    <a href="/panel" class="btn btn-primary">Panel de administrador</a>
    <p>Estas logeado como <%- rol %> con <%- nombreUsuario %></p>
</body>
</html>